/* Box sizing rules */
@import url(https://allfont.ru/allfont.css?fonts=franklin-gothic-demi-cond);
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/background-lines.png);
}
body .wrapper {
  display: flex;
  flex-direction: column;
  width: 1018px;
  min-height: 100vh;
  background: url(../images/background.png);
}
body .wrapper .head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url(../images/head/background.png);
  background-repeat: no-repeat;
  height: 155px;
  width: 977px;
  padding: 34px 25px 25px 20px;
}
body .wrapper .head img {
  height: 63px;
  width: 232px;
  margin-right: 660px;
}
body .wrapper .head a {
  width: 13px;
}
body .wrapper .head a img {
  height: 9px;
}
body .wrapper .head #left {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 21px;
  color: white;
  margin: 0 0 0 190px;
}
body .wrapper .head #right {
  font-family: Tahoma, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #d8050f;
  margin: auto 10px 0 0;
}
body .wrapper .function-part {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
body .wrapper .function-part .left {
  display: flex;
  flex-direction: column;
  width: 260px;
  padding: 30px 33px 0 17px;
}
body .wrapper .function-part .left .main-menu {
  background-image: url(../images/main-menu/background.png);
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 1px #c0ccd0 solid;
  padding: 40px 60px 45px 0;
  text-align: right;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  font-weight: normal;
}
body .wrapper .function-part .left .main-menu ul {
  list-style: none;
}
body .wrapper .function-part .left .main-menu ul a {
  text-decoration: none;
  color: white;
}
body .wrapper .function-part .left .main-menu ul #first-arrow::after {
  content: url(../images/main-menu/arrows.png);
  margin: 7px -28px 0 20px;
}
body .wrapper .function-part .left .main-menu ul li:hover {
  text-decoration: underline;
  color: white;
}
body .wrapper .function-part .left .main-menu ul li:hover #first-arrow::after {
  content: none;
}
body .wrapper .function-part .left .useful-webs {
  background-color: #fdfdfd;
  border-radius: 5px;
  border: 1px #c0ccd0 solid;
  padding: 22px 38px 28px 0;
  margin-top: min(30px);
  text-align: right;
  font-family: Tahoma, sans-serif;
  font-size: 11px;
  font-weight: normal;
}
body .wrapper .function-part .left .useful-webs p {
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #d51a2b;
}
body .wrapper .function-part .left .useful-webs ul {
  list-style: none;
}
body .wrapper .function-part .left .useful-webs ul li {
  height: 30px;
  padding-top: 17px;
}
body .wrapper .function-part .left .useful-webs ul li a {
  color: #3b5e79;
  text-decoration: none;
}
body .wrapper .function-part .left .useful-webs ul li:hover {
  text-decoration: underline;
  color: #3b5e79;
}
body .wrapper .function-part .left .contacts {
  background-color: #fdfdfd;
  border-radius: 5px;
  border: 1px #c0ccd0 solid;
  padding: 0px 38px 22px 0;
  margin-top: min(30px);
  margin-bottom: min(30px);
  text-align: right;
  font-family: Tahoma, sans-serif;
  font-size: 11px;
  font-weight: normal;
}
body .wrapper .function-part .left .contacts h3 {
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #d51a2b;
  margin-top: 22px;
}
body .wrapper .function-part .left .contacts a {
  text-decoration: none;
  color: black;
}
body .wrapper .function-part .left .contacts a:hover {
  text-decoration: underline;
}
body .wrapper .function-part .middle {
  display: flex;
  flex-direction: column;
  width: 431px;
  padding-top: 30px;
}
body .wrapper .function-part .middle .top-news {
  background-color: #bdc4cb;
  border-radius: 5px;
  padding: 18px 20px 18px 20px;
  margin-bottom: 10px;
  height: 243px;
}
body .wrapper .function-part .middle .top-news img {
  float: left;
  margin: 0 20px 30px 0;
}
body .wrapper .function-part .middle .top-news p {
  font-family: Tahoma, sans-serif;
  font-size: 11px;
  font-weight: normal;
}
body .wrapper .function-part .middle .news {
  margin-bottom: 20px;
}
body .wrapper .function-part .middle h2 {
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #d51a2b;
  margin-bottom: 8px;
}
body .wrapper .function-part .middle h3 {
  font-family: Tahoma, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #d51a2b;
  margin: 10px 0 10px 0;
}
body .wrapper .function-part .middle p {
  font-family: Tahoma, sans-serif;
  font-size: 13px;
  font-weight: normal;
}
body .wrapper .function-part .middle a {
  font-family: Tahoma, sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #d51a2b;
}
body .wrapper .function-part .middle a::before {
  content: url(../images/function-part/arrows.png);
  margin-right: 7px;
}
body .wrapper .function-part .middle a:hover {
  text-decoration: none;
  margin-left: 15px;
}
body .wrapper .function-part .middle a:hover::before {
  content: none;
}
body .wrapper .function-part .right {
  display: flex;
  flex-direction: column;
  width: 260px;
  padding: 30px 42px 50px 4px;
}
body .wrapper .function-part .right .news-right, body .wrapper .function-part .right .banners {
  background-color: #e9eef1;
  border-radius: 5px;
  border: 1px #c0ccd0 solid;
  padding: 16px 0 16px 21px;
}
body .wrapper .function-part .right .banners {
  font-family: Tahoma, sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 27px;
}
body .wrapper .function-part .right .banners .banner {
  margin-bottom: 10px;
}
body .wrapper .function-part .right .banners .banner p {
  margin: 0 0 5px 5px;
}
body .wrapper .function-part .right .banners .banner a {
  color: #d3171d;
}
body .wrapper .function-part .right .banners .banner a:hover {
  text-decoration: none;
}
body .wrapper .function-part .right .news-right {
  font-family: Tahoma, sans-serif;
  font-size: 11px;
  font-weight: normal;
}
body .wrapper .function-part .right .news-right .news2, body .wrapper .function-part .right .news-right .news1 {
  width: 172px;
}
body .wrapper .function-part .right .news-right .news2 p, body .wrapper .function-part .right .news-right .news1 p {
  padding: 7px;
}
body .wrapper .function-part .right .news-right .news2 img, body .wrapper .function-part .right .news-right .news1 img {
  margin-bottom: 5px;
}
body .wrapper .function-part .right .news-right .news1 {
  margin-bottom: 20px;
}
body .wrapper .function-part .right .news-right .news1::after {
  content: url(../images/news/separator-lines.png);
  margin: 0 0 0 -22px;
}
body .wrapper .footer {
  display: flex;
  justify-content: space-between;
  background-image: url(../images/footer/background.png);
  background-repeat: no-repeat;
  height: 100px;
  margin-top: auto;
  padding: 40px 0 0 30px;
  font-family: Tahoma, sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #76868b;
}
body .wrapper .footer ul {
  display: flex;
  list-style: none;
  margin-right: 40px;
}
body .wrapper .footer ul li::before {
  content: "|";
  margin: 0 6px 0 6px;
}
body .wrapper .footer ul li a {
  text-decoration: none;
  color: #76868b;
}
body .wrapper .footer ul li a:hover {
  text-decoration: underline;
}
body .wrapper .footer ul #first::before {
  content: none;
}