@use "sass:math";
@import "reset";
@import url(https://allfont.ru/allfont.css?fonts=franklin-gothic-demi-cond);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin site-fonts($sz, $wg) {
  font-family: Tahoma, sans-serif;
  font-size: $sz;
  font-weight: $wg;
}

$highlight-color: #d51a2b;
$footer-text-color: #76868b;
$useful-webs-text-color: #3b5e79;
$main-menu-text-color: white;

body {
  background: url(../images/background-lines.png);

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 1018px;
    min-height: 100vh;
    background: url(../images/background.png);

    .head {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      background-image: url(../images/head/background.png);
      background-repeat: no-repeat;
      height: 155px;
      width: 977px;
      padding: 34px 25px 25px 20px;

      img {
        height: 63px;
        width: 232px;
        margin-right: 660px;
      }

      a {
        width: 13px;

        img {
          height: 9px;
        }
      }

      .left {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 21px;
        color: white;
        margin: 0 0 0 190px;
      }

      .right {
        @include site-fonts(11px, bold);
        color: $highlight-color;
        margin: auto 10px 0 0;
      }
    }

    .function-part {
      display: flex;
      justify-content: space-between;
      height: 100%;

      .left {
        display: flex;
        flex-direction: column;
        width: 260px;
        padding: 30px 33px 0 17px;

        .main-menu {
          background-image: url(../images/main-menu/Menu_Background.png);
          background-repeat: no-repeat;
          border-radius: 5px;
          border: 1px #c0ccd0 solid;
          padding: 40px 60px 45px 0;
          text-align: right;
          @include site-fonts(12px, normal);

          ul {
            list-style: none;

            a {
              text-decoration: none;
              color: $main-menu-text-color;
            }

            li {
              &:hover {
                color: $main-menu-text-color;
                height: 18px;

                &::after {
                  content: url(../images/main-menu/arrows_red.jpg);
                  position: relative;
                  top: 1px;
                  right: -26px;
                }

                a {
                  margin-right: -15px;
                  text-decoration: underline;
                  vertical-align: top;
                }
              }
            }
          }
        }

        .useful-webs {
          background-color: #fdfdfd;
          border-radius: 5px;
          border: 1px #c0ccd0 solid;
          padding: 22px 38px 28px 0;
          margin-top: min(30px);
          text-align: right;
          @include site-fonts(11px, normal);

          p {
            @include site-fonts(14px, normal);
            color: $highlight-color;
          }

          ul {
            list-style: none;

            li {
              height: 30px;
              padding-top: 17px;

              a {
                color: $useful-webs-text-color;
                text-decoration: none;
              }

              &:hover {
                text-decoration: underline;
                color: $useful-webs-text-color;
              }
            }
          }
        }

        .contacts {
          background-color: #fdfdfd;
          border-radius: 5px;
          border: 1px #c0ccd0 solid;
          padding: 0 38px 22px 0;
          margin-top: min(30px);
          margin-bottom: min(30px);
          text-align: right;
          @include site-fonts(11px, normal);

          h3 {
            @include site-fonts(14px, bold);
            color: $highlight-color;
            margin-top: 22px;
          }

          a {
            text-decoration: none;
            color: black;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .middle {
        display: flex;
        flex-direction: column;
        width: 431px;
        padding-top: 30px;

        .top-news {
          background-color: #bdc4cb;
          border-radius: 5px;
          padding: 18px 20px 18px 20px;
          margin-bottom: 10px;
          height: 243px;

          img {
            float: left;
            margin: 0 20px 30px 0;
          }

          p {
            @include site-fonts(11px, normal);
          }
        }

        .news {
          margin-bottom: 20px;
        }

        h2 {
          @include site-fonts(14px, bold);
          color: $highlight-color;
          margin-bottom: 8px;
        }

        h3 {
          @include site-fonts(11px, bold);
          color: $highlight-color;
          margin: 10px 0 10px 0;
        }

        p {
          @include site-fonts(13px, normal);
        }

        a {
          @include site-fonts(13px, normal);
          color: $highlight-color;
          margin-left: 15px;
          text-decoration: none;

          &::before {
            content: none;
            margin-right: 7px;
          }

          &:hover {
            text-decoration: underline;
            margin-left: 0;

            &::before {
              content: url(../images/function-part/arrows.png);
            }
          }
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        width: 260px;
        padding: 30px 42px 50px 4px;

        %right-column-size {
          background-color: #e9eef1;
          border-radius: 5px;
          border: 1px #c0ccd0 solid;
          padding: 16px 0 16px math.div((260px-4px-42px-172px), 2); //img width = 172px
        }

        .banners {
          @extend %right-column-size;
          @include site-fonts(11px, bold);
          margin-bottom: 27px;

          .banner {
            margin-bottom: 10px;

            p {
              margin: 0 0 5px 5px;
            }

            a {
              color: $highlight-color;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }

        .news-right {
          @extend %right-column-size;
          @include site-fonts(11px, normal);

          %all-news {
            width: 172px;

            p {
              padding: 7px;
            }

            img {
              margin-bottom: 5px;
            }
          }

          .news1 {
            @extend %all-news;
            margin-bottom: 20px;

            &::after {
              content: url(../images/news/separator-lines.png);
              margin: 0 0 0 (-16px-4px-1px-1px);
            }
          }

          .news2 {
            @extend %all-news;
          }
        }
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
      background-image: url(../images/footer/background.png);
      background-repeat: no-repeat;
      height: 100px;
      margin-top: auto;
      padding: 40px 0 0 30px;
      @include site-fonts(11px, normal);
      color: $footer-text-color;

      ul {
        display: flex;
        list-style: none;
        margin-right: 40px;

        li {
          &::before {
            content: "|";
            margin: 0 6px 0 6px;
          }

          a {
            text-decoration: none;
            color: $footer-text-color;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .first::before {
          content: none;
        }
      }
    }
  }
}
